div.about {
  gap: 30px;
  padding: 30px 0;
}
div.about > div {
  flex: calc(50% - 30px);
  color: var(--font-color);
}
div.about > div h1 {
  font-weight: 500;
  color: var(--font-color);
  text-transform: capitalize;
  font-size: 39px;
}
div.about > div.about-info div.flex {
  margin-top: 15px;
  align-items: center;
}

div.about > div.about-info a.contact-btn {
  padding: 10px;
  background: #323232cc;
  border-radius: 6px;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-size: 17px;
  z-index: 1;
  position: relative;
  color: white;
  overflow: hidden;
}
div.about > div.about-info a.contact-btn:hover {
  color: white;
}

div.about > div.about-info a.contact-btn::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 0;
  z-index: -1;
  background: var(--var-color);
  top: 50%;
  left: 50%;
  transition: 0.6s;
  border-radius: 50%;
  transform: scale(1);
  opacity: 0;
}
div.about > div.about-info a.contact-btn:hover::after {
  opacity: 1;
  transform: scale(23);
}
div.about > div.about-info a:not(.contact-btn) {
  margin: 0 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  border: solid 1px var(--border-color);
  justify-content: center;
  color: #777;
  border-radius: 6px;
}
div.about > div.about-info a:not(.contact-btn):hover {
  color: var(--font-color);
}

@media (max-width: 800px) {
  div.about > div {
    flex: 100%;
  }
  div.about > div.about-logo img {
    max-height: 200px;
    object-fit: cover;
  }
  div.about > div h1 {
    text-align: center;
  }
  div.about > div h3 {
    text-align: center;
  }
  div.about > div.about-info div.flex {
    justify-content: center;
  }
}
@media (max-width: 560px) {
  div.about > div h1 {
    font-size: 28px;
  }
  div.about > div h3 {
    font-size: 15px;
  }
  div.about > div.about-info a.contact-btn,
  div.about > div.about-info a:not(.contact-btn) {
    font-size: 13px;
  }
}
